<nav class="main-navigation">
  <div class="main-navigation-inner">
    <i class="ph ph-text-outdent close-menu"></i>

    <div class="menu-item">
      <a href="{{ site.baseurl }}/">
        <i class="ph ph-compass-rose"></i>
        <span>Home</span>
      </a>
    </div>

    <div class="menu-item">
      <a href="#">
        <i class="ph ph-squares-four"></i>
        <span>Main Areas</span>
      </a>
      <div class="submenu">
        <div class="submenu-inner">
          <div class="submenu-item">
            <a href="#"><i class="ph ph-dot-outline"></i> News Archive</a>
          </div>
          <div class="submenu-item">
            <a href="#"><i class="ph ph-dot-outline"></i> Community Hub</a>
          </div>
          <div class="submenu-item">
            <a href="#">
              <i class="ph ph-caret-circle-double-right"></i> Lore Library
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/lore/timeline">
                  <i class="ph ph-dot-outline"></i> Timeline
                </a>
                <a href="{{ site.baseurl }}/lore/characters">
                  <i class="ph ph-dot-outline"></i> Lara Croft
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <a href="#">
        <i class="ph ph-game-controller"></i>
        <span>Games</span>
      </a>
      <div class="submenu">
        <div class="submenu-inner">
          <div class="submenu-item">
            <a href="#" class="remastered-era">
              <i class="ph ph-caret-circle-double-right"></i> Remastered Era
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-01">
                  <i class="ph ph-dot-outline"></i> Tomb Raider
                </a>
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-02">
                  <i class="ph ph-dot-outline"></i> Tomb Raider II
                </a>
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-03">
                  <i class="ph ph-dot-outline"></i> Tomb Raider III
                </a>
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-04">
                  <i class="ph ph-dot-outline"></i> The Last Revelation
                </a>
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-05">
                  <i class="ph ph-dot-outline"></i> Chronicles
                </a>
                <a href="{{ site.baseurl }}/games/tomb-raider-remastered-06">
                  <i class="ph ph-dot-outline"></i> Angel of Darkness
                </a>
              </div>
            </div>
          </div>

          <div class="submenu-item">
            <a href="#" class="classic-era">
              <i class="ph ph-caret-circle-double-right"></i> Classic Era
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/tr1">
                  <i class="ph ph-dot-outline"></i> Tomb Raider
                </a>
                <a href="{{ site.baseurl }}/games/tr2">
                  <i class="ph ph-dot-outline"></i> Tomb Raider II
                </a>
                <a href="{{ site.baseurl }}/games/tr3">
                  <i class="ph ph-dot-outline"></i> Tomb Raider III
                </a>
                <a href="{{ site.baseurl }}/games/tr4">
                  <i class="ph ph-dot-outline"></i> The Last Revelation
                </a>
                <a href="{{ site.baseurl }}/games/tr5">
                  <i class="ph ph-dot-outline"></i> Chronicles
                </a>
                <a href="{{ site.baseurl }}/games/tr6">
                  <i class="ph ph-dot-outline"></i> The Angel of Darkness
                </a>
              </div>
            </div>
          </div>

          <div class="submenu-item">
            <a href="#" class="legend-era">
              <i class="ph ph-caret-circle-double-right"></i> Legend Era
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/trlegend">
                  <i class="ph ph-dot-outline"></i> Legend
                </a>
                <a href="{{ site.baseurl }}/games/tranniversary">
                  <i class="ph ph-dot-outline"></i> Anniversary
                </a>
                <a href="{{ site.baseurl }}/games/trunderworld">
                  <i class="ph ph-dot-outline"></i> Underworld
                </a>
              </div>
            </div>
          </div>

          <div class="submenu-item">
            <a href="#" class="survivor-era">
              <i class="ph ph-caret-circle-double-right"></i> Survivor Era
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/tr2013">
                  <i class="ph ph-dot-outline"></i> Tomb Raider (2013)
                </a>
                <a href="{{ site.baseurl }}/games/rottr">
                  <i class="ph ph-dot-outline"></i> Rise of the Tomb Raider
                </a>
                <a href="{{ site.baseurl }}/games/sottr">
                  <i class="ph ph-dot-outline"></i> Shadow of the Tomb Raider
                </a>
              </div>
            </div>
          </div>

          <div class="submenu-item">
            <a href="#" class="unified-era">
              <i class="ph ph-caret-circle-double-right"></i> Unified Era
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/tr-legacy-of-atlantis">
                  <i class="ph ph-dot-outline"></i> Legacy of Atlantis
                </a>
                <a href="{{ site.baseurl }}/games/tr-catalyst">
                  <i class="ph ph-dot-outline"></i> Catalyst
                </a>
              </div>
            </div>
          </div>

          <div class="submenu-item">
            <a href="#" class="lara-croft-series">
              <i class="ph ph-caret-circle-double-right"></i> Lara Croft Series
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/games/lc-guardian-of-light">
                  <i class="ph ph-dot-outline"></i> Guardian of Light
                </a>
                <a href="{{ site.baseurl }}/games/lc-temple-of-osiris">
                  <i class="ph ph-dot-outline"></i> Temple of Osiris
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <a href="#">
        <i class="ph ph-film-strip"></i>
        <span>Media</span>
      </a>
      <div class="submenu">
        <div class="submenu-inner">
          <div class="submenu-item">
            <a href="#">
              <i class="ph ph-caret-circle-double-right"></i> Movies
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/media/lara-croft-tomb-raider">
                  <i class="ph ph-dot-outline"></i> Lara Croft Tomb Raider
                </a>
                <a href="{{ site.baseurl }}/media/cradle-of-life">
                  <i class="ph ph-dot-outline"></i> Cradle of Life
                </a>
                <a href="{{ site.baseurl }}/media/tomb-raider-2018">
                  <i class="ph ph-dot-outline"></i> Tomb Raider (2018)
                </a>
              </div>
            </div>
          </div>
          <div class="submenu-item">
            <a href="#">
              <i class="ph ph-caret-circle-double-right"></i> Series
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/media/revisioned">
                  <i class="ph ph-dot-outline"></i> ReVisioned
                </a>
                <a href="{{ site.baseurl }}/media/legend-of-lara-croft">
                  <i class="ph ph-dot-outline"></i> Legend of Lara Croft
                </a>
              </div>
            </div>
          </div>
          <div class="submenu-item">
            <a href="{{ site.baseurl }}/media/comics">
              <i class="ph ph-caret-circle-double-right"></i> Comics
            </a>
            <div class="sub-links">
              <div class="sub-links-inner">
                <a href="{{ site.baseurl }}/media/comics/tomb-raider-the-series">
                  <i class="ph ph-dot-outline"></i> The Series
                </a>
                <a href="{{ site.baseurl }}/media/comics/tomb-raider-journeys">
                  <i class="ph ph-dot-outline"></i> Journeys
                </a>
                <a href="{{ site.baseurl }}/media/comics/tomb-raider-one-shots">
                  <i class="ph ph-dot-outline"></i> One-Shots &amp; Specials
                </a>
                <a href="{{ site.baseurl }}/media/comics/tomb-raider-crossovers">
                  <i class="ph ph-dot-outline"></i> Crossovers
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-item">
      <a href="#">
        <i class="ph ph-download-simple"></i>
        <span>Downloads</span>
      </a>
      <div class="submenu">
        <div class="submenu-inner">
          <div class="submenu-item">
            <a href="{{ site.baseurl }}/downloads/wallpapers/">
              <i class="ph ph-image"></i> Wallpapers
            </a>
          </div>
          <div class="submenu-item">
            <a href="{{ site.baseurl }}/downloads/colouring-sheets/">
              <i class="ph ph-pencil-line"></i> Colouring Sheets
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
